*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #2691d9;
}

table{
    text-align-last: center;
}